[submodule "Commit_Change_based_WCN"]
	path = Commit_Change_based_WCN
	url = https://github.com/cychong9228/Commit-Change-based-WCN
[submodule "oometrics_developers"]
	path = oometrics_developers
	url = https://github.com/acapiluppi/oometrics_developers
